html {
    scroll-behavior: smooth;
}


body{
    background-color: #000000;
    color: #ffffff;
    font-family: Open Sans;
}

nav div img{
    width: 4rem;
}


.colorCard{
    color: #ffffff !important;
}

.altoCard{
    height: 40%;
    object-fit: cover;
}

.milagro{
    height: 200px; /* O el valor que prefiera */
    object-fit: cover;
}

.cambioDisplay{
    display: inline-block;
}

.colorIcons{
    background-color: #0dc9f0;
}

.tamanioIcons{
    width: 30px;
    height: 30px;
}


footer{
    background-color: #0dc9f0;
}

.marginLeft{
    margin-left: 6rem;
}